<!DOCTYPE html>
<html lang="en">
    <%- include('../layout/head.ejs') %>.
    <body class="sb-nav-fixed">
        <%- include('../layout/topbar.ejs') %>.
        <div id="layoutSidenav">
            <%- include('sidenav_admin.ejs') %>.
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Classroom Management</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Add New Classroom</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="/classroom_add">Click Here</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-1"></i>List of Classroom</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Blok</th>
                                                <th>Floor</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% classroom.forEach(function (classroom) { %>
                                            <tr>
                                                <td><%= classroom.classroom_name %></td>
                                                <td><%= classroom.classroom_blok %></td>
                                                <td><%= classroom.classroom_floor %></td>
                                                <td><a class="button" href="/classroom/edit/<%= classroom._id %>"</a>Edit&nbsp;<a class="button" href="/classroom/delete/<%= classroom._id %>"</a>Delete</a></td>
                                            </tr>
                                            <% }) %>
                                        </tbody>
                                        
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </main>
                <%- include('../layout/footer.ejs') %>.
            </div>
        </div>
                <%- include('../layout/js.ejs') %>.
    </body>
</html>