<!DOCTYPE html>
<html lang="en">
    <%- include('../layout/head.ejs') %>.
    <body class="sb-nav-fixed">
        <%- include('../layout/topbar.ejs') %>.
        <div id="layoutSidenav">
            <%- include('sidenav_admin.ejs') %>.
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Add New Classroom</li>
                        </ol>
                             <form action="/subject_add" method="post">
                                <div class="form-group"><label class="small mb-1">Subject Name</label><input class="form-control py-4" type="subject_name" name="subject_name" placeholder="Enter full name" /></div>
                                <div class="form-group"><label class="small mb-1" >Select Darjah</label>
                                    <select name="subject_darjah" id="subject_darjah">
                                        <option value="1">Darjah 1</option>
                                        <option value="2">Darjah 2</option>
                                        <option value="3">Darjah 3</option>
                                        <option value="4">Darjah 4</option>
                                        <option value="5">Darjah 5</option>
                                        <option value="6">Darjah 6</option>
                                    </select>
                                </div>
                                <div class="form-group mt-4 mb-0"><input type="submit" value="Submit" a class="btn btn-primary btn-block" href="/subject"></div>           
                            </form>
                    </div>
                </main>
                <%- include('../layout/footer.ejs') %>.
            </div>
        </div>
                <%- include('../layout/js.ejs') %>.
    </body>
</html>
