//- tasks.jade
html
    head
        title=title
        link(rel="stylesheet",href="/stylesheets/style.css",type="text/css")
    body
        div.container
            div.top-menu
                h1.page-heading=title
                ul
                    li
                        a(href='/') Home
                    li
                        a(href='/about') About
                    li
                        a(href='/contact') Contact
                    li
                        a(href='/crud') CRUD
            div.page-content
                p.page-description=description
                hr
                table(cellpadding=10,border="1",cellspacing="10")
                    tr
                        td(colspan="3",align="right")
                            a(href='/crud/add',class="button") Add New
                    tr
                        th Title
                        th Description
                        th Action
                    
                    each task in taskList
                        tr
                            td=task.title
                            td=task.description
                            td
                                a(href='/crud/edit/'+task._id,class="button") Edit
                                a(href='/crud/delete/'+task._id,class="button") Delete